html, body { 
    height: 100%;
    margin: 0; 
 
    
  }
  
  body { 
   background-color: #000000;
    background-image: linear-gradient(110deg, #000000 0%, #2c3e50 74%); 
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  
  canvas { 
  border: 5px solid ;
  }
  h1 { 
    color: white; 
    box-shadow: 
  }

 #startBtn, #resetBtn{ 
  display: flex;
  justify-content: space-between;  
  position: relative; 
  align-items: baseline;
  background-color: black;
  color: white; 
  font-size: 20px;
  margin: 5px 5px 5px 5px; 
  padding: 10px 15px;
  border: 5px thick double white; 
  /* position: relative; */
  
  
  }



  